@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/* css 초기화 */
* {margin:0px; padding:0px;}
ul,li {list-style:none;}
a {text-decoration:none; color:inherit;}
button {box-shadow:none; border:none;}

/* float 해제 */
.coks::after, .sum::after, .get::after {display:block; content:''; clear:both; margin-bottom:15px;}
.get::after {margin-bottom:0px;}

/* 큰 frames */
body {background-color:#EAE8FE;}
main {margin:0px auto; width:748px; overflow:hidden;}
.title {text-align:center; margin-bottom:82.88px;}
.list {width:360px; float:left;
  padding:31px 27px; box-sizing:border-box;
  background-color:#fff;}
.result {width:360px; float:right;}

/* 자판기 메뉴들 */
.coks {width:100%;}
.coks>ul>li {width:94px; height:130px; border-radius:10px;
  box-sizing:border-box; float:left; margin:0 12px 7px 0; text-align:center;
  background-color:#fff; box-shadow:0px 0px 5px 1px #CECECE;  
  padding-top:8px; border:3px solid #fff;
}
.coks>ul>li:nth-child(3) {margin-right:0px;}
.coks>ul>li:last-child {margin-right:0px;}

.coks>ul>li>a {width:100%; height:100%; display:block; font-size:9px; font-family:"Noto Sans KR"; color:#333; font-weight:500;}
.coks>ul>li>a>p {margin-bottom:5px;}
.coks>ul>li>a>button {background-color:#6327FE; border-radius:50px; width:70px; height:22px; color:#fff; font-family:Noto Sans KR;}
.coks>ul>li.on, .coks>ul>li:hover {border-color:#6327FE;}

/* 자판기 품절 */






/* 금액입력 */
.sum>figure {width:200px; height:33px; background-color:#EAE8FE; padding:10px; box-sizing:border-box; border-radius:5px; float:left; margin-bottom:11px;}
.sum>figure>p {font:14px/1 "Noto Sans KR"; color:#000;}
.sum>figure>p:nth-child(1) {float:left;}
.sum>figure>p:nth-child(2) {float:right;}

.sum>.change, .sum>.deposit {
  width:94px; height:33px; background-color:#fff; box-shadow:0px 0px 5px 1px #CECECE; border-radius:5px; font:13px/1 "Noto Sans KR"; 
  color:#000; float:right; }
.sum>.write {
  width:200px; height:33px; box-sizing:border-box; font:13px/1 "Noto Sans KR"; color:#BDBDBD; border-radius:5px; box-shadow:none; 
  border:1px solid #BDBDBD; float:left; padding-left:5px;}

/* 선택한 음료 */
.get>figure {width:200px; height:106px; overflow:hidden; background-color:#EAE8FE; border-radius:5px; border:1px solid #BDBDBD; 
  position:relative; padding:12px 18px 0 12px; box-sizing:border-box; float:left;}
.get>figure>span {width:4px; height:79px; background-color:#fff; display:block; position:absolute; top:9px; right:4px; }
.get>figure>article {width:170px; height:46px; background-color:#fff; border-radius:5px; margin-bottom:6px; padding:8px; box-sizing:border-box;}
.get>figure>article>img {float:left; margin-right:10px;}
.get>figure>article>p {float:left; font:9px/30px "Noto Sans KR"; color:#333; font-weight:500;}
.get>figure>article>span {float:right; width:30px; height:30px; border:1px solid #BDBDBD; 
  border-radius:5px; font:14px/28px "Noto Sans KR"; color:#000; text-align:center;}

.get>button {float:right; width:94px; height:106px; background-color:#6327FE; 
  border-radius:5px; box-shadow:0px 0px 5px 1px #CECECE; font:bold 13px/1 "Noto Sans KR"; color:#fff;
}

/* 소지금 */
.cash {width:100%; padding:9px 0; box-sizing:border-box; margin-bottom:20px; background-color:#fff;  padding:9px 27px; 
  box-sizing:border-box;}
.cash>figure {height:32px; background-color:#EAE8FE; border-radius:5px; overflow:hidden; padding:6px 10px; box-sizing:border-box;}
.cash>figure>p {font:14px/1.25 "Noto Sans KR"; color:#000; font-weight:700;}
.cash>figure>p:nth-child(1) {float:left;}
.cash>figure>p:nth-child(2) {float:right;}

.drinks {background-color:#fff; padding:30px 27px 30px 27px; overflow:hidden;}
.drinks>h2 {text-align:center; font:14px/1 "Noto Sans KR"; color:#000; font-weight:700; margin-bottom:13px; }
.drinks>figure {width:306px; height:364px; background-color:#EAE8FE; border-radius:5px; border:1px solid #BDBDBD; 
  position:relative; padding:12px 18px 0 12px; box-sizing:border-box;}  
.drinks>figure>span {width:4px; height:79px; background-color:#fff; display:block; position:absolute; top:9px; right:4px; }
.drinks>figure>article {width:276px; height:46px; background-color:#fff; border-radius:5px; margin-bottom:6px; padding:8px; box-sizing:border-box;}
.drinks>figure>article>img {float:left; margin-right:10px;}
.drinks>figure>article>p {float:left; font:9px/30px "Noto Sans KR"; color:#333; font-weight:500;}
.drinks>figure>article>span {float:right; width:30px; height:30px; border:1px solid #BDBDBD; 
  border-radius:5px; font:14px/28px "Noto Sans KR"; color:#000; text-align:center;}
.drinks::after {display:block; content:"총금액 : 9,000원"; float:right; font:12px/17px "Noto Sans KR"; color:#000; margin-top:11px;}
